.StateBar {
    height: 36px;
}
.StateBar-Left {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5rem;
}
.StateBar-Right {
    flex: 0 1 auto;
    display: flex;
    margin-left: auto;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5rem;
}