.StateBar {
    display: flex;
    flex-direction: row;
    margin: 4px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 18px;
    background-color: #1e1e1e;
}
.StateBar-Left {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5rem;
}
.StateBar-Right {
    flex: 0 1 auto;
    display: flex;
    margin-left: auto;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5rem;
}